<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Dashboard</h1>
    <a href="{{ url_for('logout') }}" class="btn btn-dark" >Logout</a>
    <a href="{{ url_for('home') }}" class="btn btn-dark" >Home</a>

    <p><b>Username: </b> {{user.username}} </p>
    <p><b>Email: </b> {{user.email}} </p>
    {% if amount.balance %}
    <p><b>Balance: </b> {{amount.balance}} </p>
    {% else %}
    <p><b>Balance: </b> 0 </p>
    {% endif %}

</body>
</html>