<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sPark</title>

    <style>
        h2 {
            text-align: center;
        }
        .container {
            text-align: center;
            margin-top: 50px;
        }

    </style>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Welcome to sPark</h2>
        <!-- <p>Click the button below to login or register</p> -->
        <a href="{{ url_for('login') }}" class="btn btn-dark" >Login</a>
        <a href="{{ url_for('register') }}" class="btn btn-dark" >Register</a>
    </div>
</body>
</html>